:root{
  --background-color:rgba(98, 231, 96, 0.898);
  --theme-color:rgb(0, 255, 8);
  --gold-color:gold;
  --background-color2:whitesmoke;
}

body{
  padding: 0;
  margin: 0;
  background-color:var(--background-color);

}

.grid-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 10px;
padding: 10px;
width: 800px; /* Set your desired width */
height: 500px; /* Set your desired height */
}

.grid-item {
background-color: #fff;
border: 1px solid #ddd;
text-align: center;
padding: 15px;
font-size: 16px;
}

.grid-item-text {
font-size: 14px;
margin-top: 5px;
}

.more{
  width: 300px;
  display: flex;
  left: -300px;
}
/*-----search bar-----*/
/* navigation bar*/
.navbar-container {
display: grid;
gap: 10px;
padding: 2px;
}


.navbar {
position: fixed;
display: flex;
justify-content: center;
width: 95%;
height: 20px;
display: grid;
top: 10px;
grid-template-columns: auto 1fr;
align-items: center;
padding: 28px;
left: 50%; /* Position the navbar from the center */
transform: translateX(-50%); /* Center the navbar horizontally */
background-color: #333;
border-radius: 40px;
color:var(--white-color);
z-index: 1000;
}

.logo {
font-size: 10px;

}
.logo img{
position: relative;
width: auto;
height: 100px;
top: -40px;
}

.nav-links {
position: relative;
display: grid;
grid-template-columns: repeat(5, auto);
gap: 50px;
backdrop-filter: blur(40px);  
justify-content: center; 
padding: 2px 20px; /* Adjust padding for smaller screens */
top: -17.5vh;
left:55vh;
font-family: "Oswald", sans-serif;
}

.nav-links a {
position: relative;
text-decoration: none;
color: #fff;
transition: color 0.3s;
font-size: 20px;

}
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
color: #000000;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}
.dropdown-content ol li a{
color: #000000;
}

.dropdown:hover .dropdown-content {
display: block;
}

.register{
position: relative;
display: flex;
width: auto;
height: 35px;
top: -22vh;
left: 160vh;
opacity: 0.9;
}
.register a{
position: relative;
font-size: 20px;
color: var(--background-color);
left: 10px;
top: px;
text-decoration: none;
font-family: "Oswald", sans-serif;
}
.cart{
position: relative;
display: flex;
width: auto;
height: 33px;
top: -27.5vh;
left: 175vh;
opacity: 0.9;
}

.nav-links a:hover {
color: var(--theme-color);
}

/* Media query for smaller screens */
@media (max-width: 400px) {
  .navbar {
    padding: 15px; 
  }

  .nav-links {
    padding: 0px 10px; 
  }
}

header {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    padding: 0px 0;
    text-align: center;
    top: -5vh;
    height: 25vh;
   
}
header h5{
position: relative;
top: 10vh;
font-size: 50px;
font-family: "Oswald", sans-serif;
font: 40px;
}
@media screen and (max-width:800px){
  header h5{
    position: relative;
    top: 10vh;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font: 60px;
    text-align: center;
    }
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:whitesmoke;
    border-radius: 5px;
    border-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.688);
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    
}
.container input{
  position: relative;
  width: 780px;
}
.container select{
  position: relative;
  width: 800px;
}
/*lyalty img*/

.loyalty-container {
    position: relative;
    display: grid;
    grid-template-columns: 40vh 40vh 40vh  ;
    left: -50px;
    gap: 10px;
    padding: 50px;
    height: 70vh;
    

  }
  
  .loyalty-container > div {
    background-color: var(--background-color2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.351);
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    transition: color 1s ease
    
  }

  .loyalty-container img{
    position: relative;
    height: auto;
    width: 100px;
  }

  .loyalty-container h1{
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    top: -40px;

  }
  .loyalty-container ul li{
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    top: -40px;
    font-size: 20px;
    
  }
  
  .loyalty-container > div:hover {
    transition: transform 0.5s ease;
    transform: translateY(-5px);
    box-shadow: 0 0 px rgba(0, 0, 0, 0.228)
  }

  .loyalty-container li{
    position: relative;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
  }

  
input,
select {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.loyalty-info {
    margin-top: 20px;
}

.scheme {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.scheme h3 {
    margin-top: 0;
}

.loyalty-container button{
  position: relative;
  width: 800px;
}
@media screen and (max-width: 800px) {
  .loyalty-container {
    position: relative;
    display: grid;
    grid-template-columns: 40vh ;
    left: -50px;
    gap: 10px;
    padding: 50px;
    height: 140vh;
    

  }
  .loyalty-container button{
    position: relative;
  width: 380px;
  
  }
  
.container {
  position: relative;
  max-width: 380px;
  top: -10vh;
}
.container input{
  position: relative;
  max-width: 370px;
}
.container select{
  position: relative;
  max-width: 370px;
}
}

    /*footer*/

    .footer-container {
      position: relative;
      display: grid;
      grid-template-columns:  25% 25% 25% 25% ;
      gap: 10px;
      
      background:rgba(0, 0, 0, 0.863);
     
      padding: 10px;
      height: 70vh;
      top: 0vh;
    }
    
    .footer-container > div {
      
      border-radius: 2px;
      text-align: center;
      font-size: 30px;
      border-color: #fffbfb;
      
    }
    
    .item1{
      position: relative;
      grid-row: 1 / span 5;
      grid-column: 1;
    
      
    }
    
    
    .item1 p{
      position: relative;
      color: rgba(245, 245, 245, 0.703);
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      text-align: left;
      top: -35vh;
    
        }
    
        .item1 img{
          position: relative;
          height: auto;
          width: 180px;
          top: 50px;
        }
    
    .item1 h1{
     color: white;
     font-family: "Rajdhani", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 25px;
     text-align: left;
    }
    .item2{
      grid-row: 1 / span 5;
      grid-column: 2;
      position: relative;
      left: 30px;
    }
    .item3{
      grid-row: 1 / span 5;
      grid-column: 3;
    }
    .item4{
      grid-row: 1 / span 5;
      grid-column: 4;
      width: 45vh;
    }
    .item5{ 
      position: relative;
      grid-column: 1 /span 4;
      grid-row: 6 / span 1;
      width: 197vh;
      top: -80px;
    }
    
    .item5 h1,h2,h3{
      position: relative;
      color: rgba(255, 255, 255, 0.436);
      display: inline;
      left: -45vh;
    }
    
    .item5 h1{
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 48px;
    }
    .item5 h3{
      position: relative;
      font-family: "Rajdhani", sans-serif;
      font-weight: 500;
    
      font-style: normal;
      font-size: 20px;
      top: -8px;
    }
    .item5 h2{
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
        font-size: 48px;
    }
    .item6{
      grid-column: 1 / span 4;
    }
    
    .item5 img{
      position: relative;
      display: inline;
      height: 30px;
      width: auto;
      left: 190px;
      opacity: 0.5;
    }
    
    
    .item2 h6{
      position: relative;
      color: white;
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-optical-sizing: auto;
      font-size: 18px;
      text-align: left;
      top: -20px;
    }
    
    .product-links a{
      text-decoration: none;
      position: relative;
      display: grid;
      backdrop-filter: blur(40px);  
      color: whitesmoke;
      text-align: left;
      font-size: 15px;
      line-height: 40px;
      top: -50px;
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    
    .useful-links h6{
    position: relative;
      color: white;
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-style: normal;
      font-size: 18px;
      text-align: left;
      top: -20px;
    }
    
    .useful-links a{
      text-decoration: none;
      position: relative;
      display: grid;
      backdrop-filter: blur(40px);  
      color: whitesmoke;
      text-align: left;
      font-size: 15px;
      line-height: 40px;
      top: -50px;
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .useful-links h6{
      position: relative;
        color: white;
        font-family: "Rajdhani", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        text-align: left;
        top: -20px;
    }
    
    .item4 h6{
      
        position: relative;
          color: white;
          font-family: "Rajdhani", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          text-align: left;
          top: -20px;
      
    }
    .item4 p{
      position: relative;
      display: grid;
      backdrop-filter: blur(40px);  
      color: whitesmoke;
      text-align: left;
      font-size: 15px;
      line-height: 20px;
      top: -50px;
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
      left: 30px;
      
    }
    .item4 img{
    position: relative;
    height: auto;
    width: 20px;
    left: -30px;
    top: 18px;
    }
    .item5 hr{
      color: white;
    }
    
    .item6{
      position: relative;
      height:8px;
      width: 196vh;
      top: -10vh;
    }
    
    .item6 p{
      position: relative;
      color: white;
      font-family: "Rajdhani", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      top: -30px;
    }
    
@media screen and (max-width: 800px) {
  .footer-container{
    position: relative;
    top:-80px;
    display: block;
    height: 250vh;
  
  }
  .item5 hr{
    position: relative;
    display: none;
  }
  .item1{
    position: relative;
    top: 10vh;
  }
  .item1 h1{
    position: relative;
    top: -9vh;
    justify-content: center;
    text-align: center;
  }
  .item1 p{
    position: relative;
    justify-content: center;
    text-align: center;
  }
 .item1 img{
  position: relative;
  top: -6vh;
 }
}


    
          